* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-red: #E3646E;
    --color-purple:#BB72E9;
    --color-blue:#3996DB;
    --color-green:#82BC4F;
    --color-yellow:#EABD5F;

    --color-gray-100:#0D0E11;
    --color-gray-200:#16181D;
    --color-gray-300:#292C34;
    --color-gray-400:#878EA1;
    --color-gray-500:#C0C4CE;
    --color-gray-600:#E2E4E9;

    --font-family-asap: "Asap", serif;
    --font-family-inconsolata: "Inconsolata", serif;
    --font-family-maven: "Maven Pro", serif;

    --title-lg: 800 56px/120% var(--font-family-asap);
    --title-md: 800 24px/120% var(--font-family-asap);
    --title-sm: 800 16px/120% var(--font-family-asap);

    --subtitle: 400 20px/140% var(--font-family-inconsolata);

    --text-md: 400 16px/140% var(--font-family-maven);
    --text-sm: 400 12px/140% var(--font-family-maven);

    background-color: var(--color-gray-200);
    background-size: cover;

    width: 100%;
}

.container {
    min-width: 840px;
}

header {
    justify-self: center;
    justify-items: center;
    text-align: center;
    
    h2 {
        font: var(--title-md);
        color: var(--color-gray-600);
    }
}