#projects {
    display: block;

    padding: 72px 120px;

    justify-self: center;
    justify-items: center;
    text-align: center;

    div {
        justify-content: center;
        padding-block: 48px;
    }

    figcaption {
        margin: 0;
        padding: 0px 12px 17px;
    }

    h3 {
        font: var(--title-sm);
        color: var(--color-gray-600);
        text-align: left;
    }

    h4 {
        font: var(--text-sm);
        color: var(--color-gray-600);
        text-align: left;
    }

    #project-cards{
        gap: 24px;
    }

    .project-card {
        width: 330px;
        height: 280px;

        background-color: var(--color-gray-300);
        border-radius: 8px;


        img {
            width: 100%;
            padding: 12px 12px 10px;
            margin-bottom: 10px;
            border-radius: 16px;
        }
    }
}